<li>
   <h3>{{ burgerName }}</h3>
   <p>{{ burgerToppings }}</p>
   {{#if eaten}}
   <button class="eat-burger btn btn-secondary" data-id="{{ id }}" data-burger="{{eaten}}">Eat Now!</button>
   {{/if}}
   <button class="delete-burger btn btn-danger">Delete</button>

</li>